<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag @favicon %>
    <script src="https://js.stripe.com/v3"></script>
  </head>

  <body class="test-center">
    <div class="wrapper-container">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>

      <div>
        <%= yield %>
        <%= render 'layouts/footer' %>
      </div>
    </div>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
